spi/src/main/resources/META-INF/xsd/execution-context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Licensed to the Apache Software Foundation (ASF) under one ~ or more contributor license agreements. See the NOTICE file ~ distributed with this work for 
	additional information ~ regarding copyright ownership. The ASF licenses this file ~ to you under the Apache License, Version 2.0 (the ~ "License"); you may not 
	use this file except in compliance ~ with the License. You may obtain a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 ~ ~ Unless required 
	by applicable law or agreed to in writing, ~ software distributed under the License is distributed on an ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY 
	~ KIND, either express or implied. See the License for the ~ specific language governing permissions and limitations ~ under the License. -->
<schema targetNamespace="http://ode.apache.org/execution-context" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ode.apache.org/execution-context">

	<complexType name="scopeType">
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="variableType">
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="frameType">
		<sequence>
			<element name="variable" type="tns:variableType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="stackType">
		<sequence>
			<element name="frame" type="tns:frameType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>


	<element name="stack" type="tns:stackType" />

</schema>