spi/src/main/resources/META-INF/xsd/executable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<schema targetNamespace="http://ode.apache.org/executable" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ode.apache.org/executable">

	<complexType name="executableType">
		<sequence>
			<element name="executable-sets" type="tns:executableSetsType" minOccurs="0" maxOccurs="1" />
			<element name="installation" type="tns:installationType" minOccurs="1" maxOccurs="1" />
			<element name="sources" type="tns:sourcesType" minOccurs="1" maxOccurs="1" />
			<!--<element name="type" type="tns:typeType" minOccurs="0" maxOccurs="unbounded" /> <element name="operation" type="tns:operationType" minOccurs="0" maxOccurs="unbounded" 
				/> -->
			<element ref="tns:block" minOccurs="1" maxOccurs="unbounded" />
			<!-- <choice maxOccurs="unbounded"> <element name="operation" type="tns:operationType" /> <element name="block" type="tns:blockType" /> </choice> -->
		</sequence>
		<attribute name="targetNamespace" type="string" use="optional" />
		<attribute name="name" type="string" use="optional" />
	</complexType>

	<simpleType name="evtSetIDType">
		<restriction base="ID">
			<pattern value="e\d+" />
		</restriction>
	</simpleType>

	<complexType name="executableSetType">
		<attribute name="name" type="QName" use="required" />
		<attribute name="eventSetId" type="tns:evtSetIDType" use="optional" />
	</complexType>


	<complexType name="executableSetsType">
		<sequence>
			<element name="executable-set" type="tns:executableSetType" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="installDataType" abstract="true" />

	<complexType name="installationType">
		<sequence>
			<any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="sourcesType">
		<sequence>
			<element name="sources" type="tns:sourceType" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<simpleType name="srcIdType">
		<restriction base="ID">
			<pattern value="s\d+" />
		</restriction>
	</simpleType>

	<simpleType name="srcIdRefType">
		<restriction base="IDREF">
			<pattern value="s\d+" />
		</restriction>
	</simpleType>

	<complexType name="sourceType">
		<attribute name="src" type="tns:srcIdType" use="required" />
		<attribute name="qname" type="QName" use="required" />
		<attribute name="contentType" type="string" use="required" />
		<attribute name="version" type="string" use="required" />
		<attribute name="checksum" type="string" use="required" />
	</complexType>


	<attributeGroup name="sourceRefAttrGroup">
		<attribute name="sref" type="tns:srcIdRefType" use="optional" />
		<attribute name="line" type="int" use="optional" />
		<attribute name="column" type="int" use="optional" />
	</attributeGroup>

	<complexType name="compilerSettingType" abstract="true" />

	<simpleType name="memAddressType">
		<restriction base="string">
			<pattern value="(\w+\d+)+" />
		</restriction>
	</simpleType>

	<simpleType name="memAddressRefType">
		<restriction base="string">
			<pattern value="(\w+\d+)+" />
		</restriction>
	</simpleType>

	<simpleType name="prgAddressType">
		<restriction base="tns:memAddressType">
			<pattern value="r\d+" />
		</restriction>
	</simpleType>

	<simpleType name="prgAddressRefType">
		<restriction base="tns:memAddressRefType">
			<pattern value="r\d+" />
		</restriction>
	</simpleType>

	<simpleType name="prcAddressType">
		<restriction base="tns:memAddressType">
			<pattern value="p\d+" />
		</restriction>
	</simpleType>

	<simpleType name="prcAddressRefType">
		<restriction base="tns:memAddressRefType">
			<pattern value="p\d+" />
		</restriction>
	</simpleType>

	<simpleType name="thdAddressType">
		<restriction base="tns:memAddressType">
			<pattern value="p\d+" />
		</restriction>
	</simpleType>

	<simpleType name="thdAddressRefType">
		<restriction base="tns:memAddressRefType">
			<pattern value="t\d+" />
		</restriction>
	</simpleType>

	<simpleType name="stkAddressType">
		<restriction base="tns:memAddressType">
			<pattern value="b\d+(c\d+)?" />
		</restriction>
	</simpleType>

	<simpleType name="stkAddressRefType">
		<restriction base="tns:memAddressRefType">
			<pattern value="b\d+(c\d+)?" />
		</restriction>
	</simpleType>

	<simpleType name="insAddressType">
		<restriction base="ID">
			<pattern value="b\d+i\d+" />
		</restriction>
	</simpleType>

	<simpleType name="insAddressRefType">
		<restriction base="IDREF">
			<pattern value="b\d+i\d+" />
		</restriction>
	</simpleType>

	<complexType name="operationContextType" abstract="true" />

	<element name="operationContext" type="tns:operationContextType" abstract="true" />

	<element name="in-memory-only" substitutionGroup="tns:operationContext">
		<complexType>
			<complexContent>
				<extension base="tns:operationContextType" />
			</complexContent>
		</complexType>
	</element>


	<complexType name="instructionType" abstract="true">
		<sequence>
			<element ref="tns:operationContext" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="ins" type="tns:insAddressType" use="required" />
		<attributeGroup ref="tns:sourceRefAttrGroup" />
	</complexType>

	<element name="instruction" type="tns:instructionType" abstract="true" />

	<!-- Need at least one instruction defined in this schema so that JAXB generates a JAXBElement<? extends Instruction> wrapper for the substitution group see http://java.net/jira/browse/JAXB-893 -->

	<element name="snapshot" substitutionGroup="tns:instruction">
		<complexType>
			<complexContent>
				<extension base="tns:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<simpleType name="contextMode">
		<restriction base="string">
			<enumeration value="START" />
			<enumeration value="END" />
		</restriction>
	</simpleType>

	<complexType name="contextType" abstract="true">
		<complexContent>
			<extension base="tns:instructionType">
				<attribute name="mode" type="tns:contextMode" use="optional" />
				<attribute name="ctx" type="tns:insAddressRefType" use="optional" />
			</extension>
		</complexContent>
	</complexType>


	<simpleType name="eptAddressType">
		<restriction base="ID">
			<pattern value="x\d+e\d+" />
		</restriction>
	</simpleType>

	<simpleType name="eptAddressRefType">
		<restriction base="IDREF">
			<pattern value="x\d+e\d+" />
		</restriction>
	</simpleType>

	<complexType name="endpointType" abstract="true">
		<attribute name="ept" type="tns:eptAddressType" use="required" />
	</complexType>

	<element name="endpoint" type="tns:endpointType" abstract="true" />


	<simpleType name="excAddressType">
		<restriction base="ID">
			<pattern value="x\d+" />
		</restriction>
	</simpleType>

	<simpleType name="excAddressRefType">
		<restriction base="IDREF">
			<pattern value="x\d+" />
		</restriction>
	</simpleType>


	<complexType name="exchangeType">
		<sequence>
			<element ref="tns:endpoint" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
		<attribute name="exc" type="tns:excAddressType" use="required" />
	</complexType>
	<element name="exchange" type="tns:exchangeType" />
	
	
	<!-- <simpleType name="syncMode"> <restriction base="string"> <enumeration value="SYNC" /> <enumeration value="ASYNC" /> </restriction> </simpleType> <complexType 
		name="invocationType" abstract="true"> <complexContent> <extension base="tns:sourceRefType"> <attribute name="save" type="boolean" use="optional" default="true" 
		/> <attribute name="mode" type="tns:syncMode" use="optional" default="SYNC" /> <attribute name="inv" type="ID" use="required" /> </extension> </complexContent> </complexType> 
		<complexType name="controlType" abstract="true"> <complexContent> <extension base="tns:instructionType" /> </complexContent> </complexType> -->
	<simpleType name="blcAddressType">
		<restriction base="ID">
			<pattern value="b\d+" />
		</restriction>
	</simpleType>

	<simpleType name="blcAddressRefType">
		<restriction base="IDREF">
			<pattern value="b\d+" />
		</restriction>
	</simpleType>

	<complexType name="blockType">
		<sequence>
			<!--<element name="type" type="tns:typeType" minOccurs="0" maxOccurs="unbounded" /> <element name="operation" type="tns:operationType" minOccurs="0" maxOccurs="unbounded" 
				/> <choice maxOccurs="unbounded"> <element name="variable" type="tns:variableType" /> <element name="in" type="tns:inType" /> <element name="out" type="tns:outType" 
				/> <any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" /> </choice> -->
			<element ref="tns:instruction" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:block" minOccurs="0" maxOccurs="unbounded" />
			<!-- <any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" /> -->
		</sequence>
		<attribute name="blc" type="tns:blcAddressType" use="required" />
	</complexType>
	<element name="block" type="tns:blockType" />

	<!-- <complexType name="typeCtxType" abstract="true" /> <complexType name="typeType"> <sequence> <any namespace="##other" processContents="strict" minOccurs="0" 
		maxOccurs="unbounded" /> </sequence> <attribute name="typ" type="ID" use="required" /> <attribute name="name" type="QName" use="required" /> </complexType> <attribute 
		name="operationAttr" type="IDREF" /> <complexType name="operationCtxType" abstract="true"> <complexContent> <extension base="tns:instructionType" /> </complexContent> 
		</complexType> <complexType name="operationType"> <sequence> <- <element type="tns:operationCtxType" minOccurs="0" maxOccurs="unbounded" /> -> <any namespace="##other" 
		processContents="strict" minOccurs="0" maxOccurs="unbounded" /> <element name="parameter" type="tns:parameterType" minOccurs="0" maxOccurs="unbounded" /> </sequence> 
		<attribute name="label" type="ID" use="required" /> <attribute name="name" type="QName" use="required" /> </complexType> <complexType name="parameterCtxType" abstract="true"> 
		<complexContent> <extension base="tns:instructionType" /> </complexContent> </complexType> <complexType name="parameterType"> <sequence> <- <element type="tns:parameterCtxType" 
		minOccurs="0" maxOccurs="unbounded" /> -> <any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" /> </sequence> <attribute name="id" 
		type="integer" use="required" /> <attribute name="name" type="QName" use="required" /> <attribute name="type" type="QName" use="required" /> </complexType> <attribute 
		name="variableAttr" type="IDREF" /> <complexType name="variableCtxType" abstract="true"> <complexContent> <extension base="tns:instructionType" /> </complexContent> 
		</complexType> <complexType name="variableType"> <sequence> <- <element type="tns:variableCtxType" minOccurs="0" maxOccurs="unbounded" /> -> <any namespace="##other" 
		processContents="strict" minOccurs="0" maxOccurs="unbounded" /> </sequence> <attribute name="id" type="ID" use="required" /> <attribute name="name" type="QName" 
		use="required" /> <attribute name="type" type="IDREF" use="required" /> </complexType> <complexType name="inCtxType" abstract="true"> <complexContent> <extension 
		base="tns:instructionType" /> </complexContent> </complexType> <complexType name="inType"> <complexContent> <extension base="tns:invocationType"> <sequence> <- <element 
		type="tns:inCtxType" minOccurs="0" maxOccurs="unbounded" /> -> <any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" /> </sequence> 
		<attribute ref="tns:operationAttr" /> </extension> </complexContent> </complexType> <complexType name="outCtxType" abstract="true"> <complexContent> <extension base="tns:instructionType" 
		/> </complexContent> </complexType> <complexType name="outType"> <complexContent> <extension base="tns:invocationType"> <sequence> <- <element type="tns:outCtxType" 
		minOccurs="0" maxOccurs="unbounded" /> -> <any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" /> </sequence> <attribute ref="tns:operationAttr" 
		/> </extension> </complexContent> </complexType> -->
	<element name="executable" type="tns:executableType" />

	<element name="installation" type="tns:installationType" />

</schema>