spi/src/main/resources/META-INF/xsd/execution-context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<schema targetNamespace="http://ode.apache.org/execution-context" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ode.apache.org/execution-context">

<!--  
	Contexts serve two purposes:
	1) Region based memory
	2) Execution state
	
	http://en.wikipedia.org/wiki/Context_switch
	http://en.wikipedia.org/wiki/Region-based_memory_management -->

	<simpleType name="eCtxURIType">
		<restriction base="string" />
	</simpleType>

	<simpleType name="eCtxIdType">
		<restriction base="string" />
	</simpleType>

	<simpleType name="eCtxAddressType">
		<restriction base="long" />
	</simpleType>

	<simpleType name="eCtxRelationType">
		<restriction base="string" />
	</simpleType>

	<simpleType name="eCtxAxisType">
		<restriction base="string">
			<enumeration value="SUPERIOR" />
			<enumeration value="PEER" />
			<enumeration value="INFERIOR" />
		</restriction>
	</simpleType>

	<simpleType name="eCtxStateType">
		<restriction base="string">
			<enumeration value="ACTIVATING" />
			<enumeration value="ACTIVE" />
			<enumeration value="INACTIVATING" />
			<enumeration value="INACTIVE" />
		</restriction>
	</simpleType>

	<complexType name="executionConfigType">
		<attribute name="uri" type="tns:eCtxURIType" use="required" />
		<attribute name="version" type="string" use="required" />
	</complexType>

	<element name="execution-config" type="tns:executionConfigType" />

	<complexType name="executionContextLinkType">
		<attribute name="linkAddr" type="tns:eCtxAddressType" use="required" />
		<attribute name="eCtxAddr" type="tns:eCtxAddressType" use="required" />
		<attribute name="relation" type="tns:eCtxRelationType" use="required" />
		<attribute name="axis" type="tns:eCtxAxisType" use="required" />
	</complexType>

	<element name="in-link" type="tns:executionContextLinkType" />
	<element name="out-link" type="tns:executionContextLinkType" />


	<complexType name="executionContextType" abstract="true">
		<sequence>
			<element ref="tns:execution-config" minOccurs="1" maxOccurs="1" />
			<element ref="tns:in-link" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:out-link" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="eCtxAddr" type="tns:eCtxAddressType" use="required" />
		<attribute name="id" type="tns:eCtxIdType" use="required" />
		<attribute name="name" type="string" use="optional" />
		<attribute name="state" type="tns:eCtxStateType" use="required" />
	</complexType>

	<element name="ExecutionContext" type="tns:executionContextType" abstract="true" />

	<complexType name="componentType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="component" type="tns:componentType" substitutionGroup="tns:ExecutionContext" />

	<complexType name="platformType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="platform" type="tns:platformType" substitutionGroup="tns:ExecutionContext" />

	<complexType name="programType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="program" type="tns:programType" substitutionGroup="tns:ExecutionContext" />

	<complexType name="processType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="process" type="tns:processType" substitutionGroup="tns:ExecutionContext" />

	<complexType name="threadType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="thread" type="tns:threadType" substitutionGroup="tns:ExecutionContext" />

	<complexType name="blockType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="block" type="tns:blockType" substitutionGroup="tns:ExecutionContext" />

	<complexType name="contextType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="context" type="tns:contextType" substitutionGroup="tns:ExecutionContext" />


	<complexType name="exchangeType">
		<complexContent>
			<extension base="tns:executionContextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="exchange" type="tns:exchangeType" substitutionGroup="tns:ExecutionContext" />



	<simpleType name="virtAddressType">
		<restriction base="string">
			<pattern value="b\d+c\d*[vp]\d+" />
		</restriction>
	</simpleType>


	<simpleType name="physAddressType">
		<restriction base="long" />
	</simpleType>

	<complexType name="memoryType">
		<attribute name="virtualAddr" type="tns:virtAddressType" use="required" />
		<attribute name="physicalAddr" type="tns:physAddressType" use="required" />
	</complexType>

	<element name="Memory" type="tns:memoryType" />


	<complexType name="referenceType">
		<complexContent>
			<extension base="tns:memoryType">
				<attribute name="refAddr" type="tns:physAddressType" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<element name="Reference" type="tns:referenceType" substitutionGroup="tns:Memory" />
	
	<!-- 
	<complexType name="memoryBlockType">
		<complexContent>
			<extension base="tns:memoryType">				
			</extension>
		</complexContent>
	</complexType>

	<element name="MemoryBlock" type="tns:ProgramType" substitutionGroup="tns:ExecutionContext" />
	 -->

	<complexType name="typeType">
		<complexContent>
			<extension base="tns:memoryType">
			</extension>
		</complexContent>
	</complexType>

	<element name="Type" type="tns:typeType" substitutionGroup="tns:Memory" />


	<complexType name="scopeType">
		<complexContent>
			<extension base="tns:memoryType">
			</extension>
		</complexContent>
	</complexType>

	<element name="Scope" type="tns:scopeType" substitutionGroup="tns:Memory" />

	<complexType name="variableType">
		<complexContent>
			<extension base="tns:memoryType">
				<sequence>
					<element ref="tns:Type" minOccurs="1" maxOccurs="1" />
					<element ref="tns:Scope" minOccurs="1" maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Variable" type="tns:variableType" substitutionGroup="tns:Memory" />

	<complexType name="simpleVariableType">
		<complexContent>
			<extension base="tns:variableType">
				<attribute name="value" type="anySimpleType" />
			</extension>
		</complexContent>
	</complexType>

	<element name="SimpleVariable" type="tns:simpleVariableType" substitutionGroup="tns:Memory" />

	<complexType name="complexVariableType">
		<complexContent>
			<extension base="tns:variableType">
				<sequence>
					<element name="value" minOccurs="1" maxOccurs="1" type="anyType" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="ComplexVariable" type="tns:complexVariableType" substitutionGroup="tns:Memory" />


	<complexType name="complexType">
		<complexContent>
			<extension base="tns:memoryType">
				<sequence>
					<element ref="tns:Type" minOccurs="1" maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Complex" type="tns:complexType" substitutionGroup="tns:Memory" />

	<complexType name="simpleType">
		<complexContent>
			<extension base="tns:memoryType">
				<sequence>
					<element ref="tns:Type" minOccurs="1" maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Simple" type="tns:simpleType" substitutionGroup="tns:Memory" />


	<complexType name="javaVariableType">
		<complexContent>
			<extension base="tns:variableType">
			</extension>
		</complexContent>
	</complexType>

	<element name="JavaVariable" type="tns:javaVariableType" substitutionGroup="tns:Memory" />

	<!-- elements for creating traces/dumps -->

	<simpleType name="stateModeType">
		<restriction base="string">
			<enumeration value="FULL" />
			<enumeration value="REFERENCED" />
		</restriction>
	</simpleType>

	<complexType name="executionContextStateType">
		<sequence>
			<element ref="tns:ExecutionContext" minOccurs="1" maxOccurs="unbounded" />
			<element ref="tns:Memory" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="time" type="dateTime" use="required" />
		<attribute name="mode" type="tns:stateModeType" use="required" />
	</complexType>

	<element name="ExecutionContextState" type="tns:executionContextStateType" />



</schema>