spi/src/main/resources/META-INF/xsd/execution-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<schema targetNamespace="http://ode.apache.org/execution-config" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ode.apache.org/execution-config">

	<!-- This schema contains all the runtime installation/environment/instance specific configurations needed to execute an executable in a given execution context.
	For example, on a CDI architecture it would contain JAXWS specific deployment information such as web context path and endpoint address. for an SCA
	architecture it may contain the excerpts from the composite so that the program can route messages appropriately. 
	
	Additionally BAM activities such as reporting, auditing can be mapped to the instruction level. Debugging information would be contained here as well.
	Note it is important that any operation performed at the program level not change the behavior of the executable in any way. Executables are to be self
	contained and exhibit fully deterministic behavior. For a program to interfere with an executables operation would break the contract. Debugging could be 
	the one exception where someone is purposefully updating state. 
	 -->


	<simpleType name="qnameType">
		<restriction base="string">
			<pattern value="\{.+\}\c+" />
		</restriction>
	</simpleType>


	<simpleType name="archType">
		<restriction base="string">
			<pattern value="\w\w\w(\d\.\d)?" />
		</restriction>
	</simpleType>

	<complexType name="executionConfigType" abstract="true">
		<sequence>
			<element name="exec-config-sets" type="tns:execConfigSetsType" minOccurs="0" maxOccurs="1" />
			<element name="executable" type="tns:executableType" minOccurs="1" maxOccurs="unbounded" />
		</sequence>

		<attribute name="name" type="tns:qnameType" use="required" />
		<attribute name="version" type="string" use="required" />
		<attribute name="architecture" type="tns:archType" use="required" />
	</complexType>

	<complexType name="execConfigSetType">
		<attribute name="name" type="QName" use="required" />
		<attribute name="eventName" type="tns:qnameType" use="optional" />
		<attribute name="eventId" type="integer" use="optional" />
	</complexType>

	<element name="ExecutionConfig" type="tns:executionConfigType" abstract="true" />

	<complexType name="platformType">
		<complexContent>
			<extension base="tns:executionConfigType" />
		</complexContent>
	</complexType>

	<element name="platform" type="tns:platformType" substitutionGroup="tns:ExecutionConfig" />

	<complexType name="componentType">
		<complexContent>
			<extension base="tns:executionConfigType" />
		</complexContent>
	</complexType>

	<element name="component" type="tns:componentType" substitutionGroup="tns:ExecutionConfig" />

	<complexType name="programType">
		<complexContent>
			<extension base="tns:executionConfigType" />
		</complexContent>
	</complexType>

	<element name="program" type="tns:programType" substitutionGroup="tns:ExecutionConfig" />

	<complexType name="execConfigSetsType">
		<sequence>
			<element name="exec-config-set" type="tns:execConfigSetType" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>


	<simpleType name="excAddressType">
		<restriction base="ID">
			<pattern value="e\d+" />
		</restriction>
	</simpleType>

	<simpleType name="excAddressRefType">
		<restriction base="IDREF">
			<pattern value="e\d+" />
		</restriction>
	</simpleType>

	<simpleType name="bondURIType">
		<restriction base="anyURI" />
	</simpleType>


	<complexType name="executableType">
		<sequence>
			<element name="channels" type="tns:channelsType" minOccurs="0" maxOccurs="unbounded" />
			<element name="junctions" type="tns:junctionsType" minOccurs="0" maxOccurs="unbounded" />
			<element name="insrumentations" type="tns:insrumentationsType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="executable" type="tns:excAddressType" use="required" />
		<attribute name="name" type="tns:qnameType" use="required" />
		<attribute name="version" type="string" use="required" />
		<attribute name="checksum" type="string" use="required" />
	</complexType>

	<complexType name="channelsType">
		<sequence>
			<element name="channel" type="tns:channelType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>


	<complexType name="bondType" abstract="true">
		<attribute name="uri" type="tns:bondURIType" use="required" />
		<attribute name="path" type="string" use="required" />
	</complexType>


	<complexType name="channelType" abstract="true">
		<complexContent>
			<extension base="tns:bondType" />
		</complexContent>
	</complexType>

	<complexType name="junctionsType">
		<sequence>
			<element ref="tns:junction" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="junctionType" abstract="true">
		<complexContent>
			<extension base="tns:bondType">
				<attribute name="group" type="tns:bondURIType" use="optional" />
			</extension>
		</complexContent>

	</complexType>

	<element name="junction" type="tns:junctionType" abstract="true" />

	<complexType name="insrumentationsType">
		<sequence>
			<element name="insrumentationType" type="tns:insrumentationType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	

	<!-- 
	<complexType name="insrumentationType" abstract="true">
		<attribute name="id" type="ID" use="required" />
		<attribute name="scope" type="tns:insrumentationScope" use="optional" />
		<attribute name="target" type="string" use="optional" />
	</complexType>

	<simpleType name="insrumentationScope">
		<restriction base="string">
			<enumeration value="PROGRAM" />
			<enumeration value="PROCESS" />
			<enumeration value="THREAD" />
			<enumeration value="EXECUTABLE" />
			<enumeration value="BLOCK" />
			<enumeration value="INSTRUCTION" />
			<enumeration value="EXCHANGE" />
		</restriction>
	</simpleType>
-->

	<complexType name="insrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:bondType" />
		</complexContent>
	</complexType>

	<complexType name="programInsrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:insrumentationType" />
		</complexContent>
	</complexType>

	<complexType name="processInsrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:insrumentationType">
				<attribute name="processId" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="threadInsrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:processInsrumentationType">
				<attribute name="threadId" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="executableInsrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:insrumentationType">
				<attribute name="executableId" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="blockInsrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:executableInsrumentationType">
				<attribute name="blockId" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="sequence">
		<restriction base="string">
			<enumeration value="BEFORE" />
			<enumeration value="AFTER" />
		</restriction>
	</simpleType>

	<complexType name="instructionInsrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:blockInsrumentationType">
				<attribute name="instructionId" type="string" use="required" />
				<attribute name="sequence" type="tns:sequence" use="optional" default="AFTER" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="junctionInsrumentationType" abstract="true">
		<complexContent>
			<extension base="tns:insrumentationType">
				<attribute name="exchangeId" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<element name="debug-breakpoint">
		<complexType>
			<complexContent>
				<extension base="tns:instructionInsrumentationType" />
			</complexContent>
		</complexType>
	</element>




</schema>