bpel/src/main/resources/META-INF/xsd/bpel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Licensed to the Apache Software Foundation (ASF) under one ~ or more 
	contributor license agreements. See the NOTICE file ~ distributed with this 
	work for additional information ~ regarding copyright ownership. The ASF 
	licenses this file ~ to you under the Apache License, Version 2.0 (the ~ 
	"License"); you may not use this file except in compliance ~ with the License. 
	You may obtain a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 
	~ ~ Unless required by applicable law or agreed to in writing, ~ software 
	distributed under the License is distributed on an ~ "AS IS" BASIS, WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY ~ KIND, either express or implied. See the 
	License for the ~ specific language governing permissions and limitations 
	~ under the License. -->
<schema targetNamespace="http://ode.apache.org/bpel" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:exec="http://ode.apache.org/executable" xmlns:tns="http://ode.apache.org/bpel">

	<import namespace="http://ode.apache.org/executable" />

	<complexType name="scopeType">
		<complexContent>
			<extension base="exec:contextType" />
		</complexContent>
	</complexType>

	<element name="process">
		<complexType>
			<complexContent>
				<extension base="tns:scopeType">
					<attribute name="name" type="string" use="required" />
					<attribute name="queryLanguage" type="string" use="optional" />
					<attribute name="expressionLanguage" type="string" use="optional" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="import">
		<complexType>
			<complexContent>
				<extension base="exec:compilerSettingType">
					<attribute name="namespace" type="string" use="required" />
					<attribute name="location" type="string" use="optional" />
					<attribute name="type" type="string" use="optional" default="wsdl" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="extension">
		<complexType>
			<complexContent>
				<extension base="exec:compilerSettingType">
					<attribute name="name" type="string" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="partnerLinks">
		<complexType>
			<complexContent>
				<extension base="exec:contextType" />
			</complexContent>
		</complexType>
	</element>

	<element name="partnerLink">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="variables">
		<complexType>
			<complexContent>
				<extension base="exec:contextType" />
			</complexContent>
		</complexType>
	</element>

	<element name="variable">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="sequence">
		<complexType>
			<complexContent>
				<extension base="tns:scopeType" />
			</complexContent>
		</complexType>
	</element>

	<element name="receive">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="assign">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="copy">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="to">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="from">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="reply">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

</schema>