bpel/src/main/resources/META-INF/xsd/bpel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Licensed to the Apache Software Foundation (ASF) under one ~ or more 
	contributor license agreements. See the NOTICE file ~ distributed with this 
	work for additional information ~ regarding copyright ownership. The ASF 
	licenses this file ~ to you under the Apache License, Version 2.0 (the ~ 
	"License"); you may not use this file except in compliance ~ with the License. 
	You may obtain a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 
	~ ~ Unless required by applicable law or agreed to in writing, ~ software 
	distributed under the License is distributed on an ~ "AS IS" BASIS, WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY ~ KIND, either express or implied. See the 
	License for the ~ specific language governing permissions and limitations 
	~ under the License. -->
<schema targetNamespace="http://ode.apache.org/bpel" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:exec="http://ode.apache.org/executable" xmlns:tns="http://ode.apache.org/bpel">

	<import namespace="http://ode.apache.org/executable" />

	<complexType name="scopeType">
		<complexContent>
			<extension base="exec:contextType" />
		</complexContent>
	</complexType>

	<complexType name="activityType">
		<complexContent>
			<extension base="exec:contextType">
			</extension>
		</complexContent>
	</complexType>

	<element name="process">
		<complexType>
			<complexContent>
				<extension base="tns:scopeType">
					<attribute name="name" type="NCName" use="required" />
					<attribute name="targetNamespace" type="anyURI" use="required" />
					<attribute name="queryLanguage" type="anyURI" default="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath1.0" />
					<attribute name="expressionLanguage" type="anyURI" default="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath1.0" />
					<attribute name="suppressJoinFailure" type="boolean" default="false" />
					<attribute name="exitOnStandardFault" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="import">
		<complexType>
			<complexContent>
				<extension base="exec:compilerSettingType">
					<attribute name="namespace" type="string" use="required" />
					<attribute name="location" type="string" use="optional" />
					<attribute name="type" type="string" use="optional" default="wsdl" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="extension">
		<complexType>
			<complexContent>
				<extension base="exec:compilerSettingType">
					<attribute name="name" type="string" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="partnerLinks">
		<complexType>
			<complexContent>
				<extension base="exec:contextType" />
			</complexContent>
		</complexType>
	</element>

	<element name="partnerLink">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType" />
			</complexContent>
		</complexType>
	</element>

	<element name="variables">
		<complexType>
			<complexContent>
				<extension base="exec:contextType" />
			</complexContent>
		</complexType>
	</element>

	<element name="variable">
		<complexType>
			<complexContent>
				<extension base="exec:contextType">
					<attribute name="name" type="string" use="required" />
					<attribute name="messageType" type="QName" use="optional" />
					<attribute name="type" type="QName" use="optional" />
					<attribute name="element" type="QName" use="optional" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="sequence">
		<complexType>
			<complexContent>
				<extension base="tns:scopeType" />
			</complexContent>
		</complexType>
	</element>

	<element name="assign">
		<complexType>
			<complexContent>
				<extension base="tns:activityType">
					<attribute name="validate" type="boolean" use="optional" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="copy">
		<complexType>
			<complexContent>
				<extension base="exec:contextType">
					<attribute name="keepSrcElementName" type="boolean" use="optional" default="false" />
					<attribute name="ignoreMissingFromData" type="boolean" use="optional" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="to">
		<complexType>
			<complexContent>
				<extension base="exec:contextType">
					<choice>
						<element name="query">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="expressionLanguage" type="string" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="value">
							<complexType>
								<simpleContent>
									<extension base="string" />
								</simpleContent>
							</complexType>
						</element>
					</choice>
					<attribute name="expressionLanguage" type="string" />
					<attribute name="variable" type="string" />
					<attribute name="part" type="NCName" />
					<attribute name="property" type="QName" />
					<attribute name="partnerLink" type="NCName" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="from">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType">
					<choice>
						<element name="literal">
							<complexType>
								<simpleContent>
									<extension base="string" />
								</simpleContent>
							</complexType>
						</element>
						<element name="query">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="expressionLanguage" type="string" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="value">
							<complexType>
								<simpleContent>
									<extension base="string" />
								</simpleContent>
							</complexType>
						</element>
					</choice>
					<attribute name="expressionLanguage" type="string" />
					<attribute name="variable" type="string" />
					<attribute name="part" type="NCName" />
					<attribute name="property" type="QName" />
					<attribute name="partnerLink" type="NCName" />
					<attribute name="endpointReference" type="string" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="receive">
		<complexType>
			<complexContent>
				<extension base="tns:activityType">
					<attribute name="partnerLink" type="NCName" use="required" />
					<attribute name="portType" type="QName" use="optional" />
					<attribute name="operation" type="NCName" use="required" />
					<attribute name="variable" type="string" use="optional" />
					<attribute name="createInstance" type="string" default="no" />
					<attribute name="messageExchange" type="NCName" use="optional" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="fromParts">
		<complexType>
			<complexContent>
				<extension base="exec:contextType" />
			</complexContent>
		</complexType>
	</element>

	<element name="fromPart">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType">
					<attribute name="part" type="NCName" use="required" />
					<attribute name="toVariable" type="string" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="toParts">
		<complexType>
			<complexContent>
				<extension base="exec:contextType" />
			</complexContent>
		</complexType>
	</element>

	<element name="toPart">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType">
					<attribute name="part" type="NCName" use="required" />
					<attribute name="fromVariable" type="string" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="correlations">
		<complexType>
			<complexContent>
				<extension base="exec:contextType" />
			</complexContent>
		</complexType>
	</element>

	<element name="correlation">
		<complexType>
			<complexContent>
				<extension base="exec:instructionType">
					<attribute name="set" type="NCName" use="required" />
					<attribute name="initiate" type="string" default="no" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="reply">
		<complexType>
			<complexContent>
				<extension base="tns:activityType">
					<attribute name="partnerLink" type="NCName" use="required" />
					<attribute name="portType" type="QName" use="optional" />
					<attribute name="operation" type="NCName" use="required" />
					<attribute name="variable" type="string" use="optional" />
					<attribute name="faultName" type="QName" />
					<attribute name="messageExchange" type="NCName" use="optional" />
				</extension>
			</complexContent>
		</complexType>
	</element>

</schema>