runtime/src/main/resources/META-INF/xsd/cluster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Licensed to the Apache Software Foundation (ASF) under one ~ or more 
	contributor license agreements. See the NOTICE file ~ distributed with this 
	work for additional information ~ regarding copyright ownership. The ASF 
	licenses this file ~ to you under the Apache License, Version 2.0 (the ~ 
	"License"); you may not use this file except in compliance ~ with the License. 
	You may obtain a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 
	~ ~ Unless required by applicable law or agreed to in writing, ~ software 
	distributed under the License is distributed on an ~ "AS IS" BASIS, WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY ~ KIND, either express or implied. See the 
	License for the ~ specific language governing permissions and limitations 
	~ under the License. -->
<schema targetNamespace="http://ode.apache.org/cluster-config"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ode.apache.org/cluster-config">

	<complexType name="clusterConfigType">
		<sequence>
			<element name="health-check" type="tns:healthCheckType"
				minOccurs="0" maxOccurs="1" />
			<element name="action-check" type="tns:actionCheckType"
				minOccurs="0" maxOccurs="1" />
			<element name="nodes" type="tns:nodesType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="healthCheckType">
		<attribute name="frequency" type="long" default="10000" />
		<attribute name="inactive-timeout" type="long" default="60000" />
		<attribute name="node-cleanup" type="duration" default="P10D" />
	</complexType>

	<complexType name="actionCheckType">
		<attribute name="frequency" type="long" default="750" />
		<attribute name="action-timeout" type="long" default="30000" />
	</complexType>

	<complexType name="nodesType">
		<sequence>
			<element name="node" type="string" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="auto-discovery" type="boolean" default="true" />
	</complexType>


	<complexType name="nodeMessagesType">
		<sequence>
			<element name="message" type="tns:nodeMessageType" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<simpleType name="logType">
		<restriction base="string">
			<enumeration value="INFO" />
			<enumeration value="WARNING" />
			<enumeration value="ERROR" />
		</restriction>
	</simpleType>

	<complexType name="nodeMessageType">
		<simpleContent>
			<extension base="string">
				<attribute name="timestamp" type="dateTime" use="required" />
				<attribute name="type" type="tns:logType" default="ERROR" />
			</extension>
		</simpleContent>
	</complexType>

	<element name="cluster-config" type="tns:clusterConfigType" />

	<element name="messages" type="tns:nodeMessagesType" />

</schema>