data/memory/src/main/resources/META-INF/xsd/repository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<schema targetNamespace="http://ode.apache.org/data/memory/repository" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ode.apache.org/data/memory/repository">

	
	<!--  related to enabling index and cache load only -->
	<simpleType name="repoIndexModeType">
		<restriction base="string">
		 	<enumeration value="NONE"/>
		 	<enumeration value="TRANSIENT"/>
		 	<enumeration value="UPDATE"/>
		 	<enumeration value="INIT"/>
		</restriction>
	</simpleType>

	<complexType name="repositoryType">
		<sequence>
			<element name="classpath" type="tns:classpathType" minOccurs="0" maxOccurs="unbounded" />
			<element name="resource" type="tns:resourceType" minOccurs="0" maxOccurs="unbounded" />
			<element name="directory" type="tns:directoryType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="index" type="tns:repoIndexModeType" use="optional" default="NONE" />
		<attribute name="indexPath" type="tns:repoURIType" use="optional" default="ode-file-repo-index" />
	</complexType>

	<element name="repository" type="tns:repositoryType" />

	<simpleType name="repoURIType">
		<restriction base="string" />
	</simpleType>

	<simpleType name="repoIDType">
		<restriction base="string" />
	</simpleType>

	<simpleType name="repoPatternType">
		<restriction base="string" />
	</simpleType>

	<complexType name="artifactReferenceType" abstract="true">
		<attribute name="id" type="tns:repoIDType" use="optional" />
		<attribute name="uri" type="tns:repoURIType" use="optional" />
		<attribute name="version" type="string" use="optional" default="1.0" />
		<attribute name="collection" type="tns:repoURIType" use="optional" />
		<attribute name="content-type" type="string" use="optional" />
		<!-- use ArtifactDataSource command to read file header and configure accordingly -->
		<attribute name="auto" type="boolean" use="optional" default="true" />
	</complexType>

	<complexType name="indexEntryType">
		<complexContent>
			<extension base="tns:artifactReferenceType">
				<attribute name="path" type="tns:repoURIType" use="optional" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="indexType">
		<sequence>
			<element name="entry" type="tns:indexEntryType" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="index" type="tns:indexType" />

	<complexType name="resourceType">
		<complexContent>
			<extension base="tns:artifactReferenceType">
				<attribute name="name" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="classpathType">
		<sequence>
			<element name="resource" type="tns:resourceType" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
		<attribute name="base" type="string" use="required" />
	</complexType>


	<complexType name="directoryType">
		<sequence>
			<element name="include" type="tns:includeType" minOccurs="1" maxOccurs="unbounded" />
			<element name="exclude" type="tns:excludeType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="base" type="tns:repoURIType" use="required" />
		<attribute name="read-only" type="boolean" use="optional" default="true" />
	</complexType>


	<complexType name="includeType">
		<complexContent>
			<extension base="tns:artifactReferenceType">
				<attribute name="include" type="tns:repoPatternType" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="excludeType">
		<attribute name="exclude" type="tns:repoPatternType" use="required" />
	</complexType>

</schema>